<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Contact Agenda</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-messages.js"></script>
    <script type="text/javascript" src="/modules/angular-material.min.js"></script>
    <script type="text/javascript" src="/modules/main.js"></script>
    <script type="text/javascript" src="/modules/services/authService.js"></script>
    <script type="text/javascript" src="/modules/services/registerService.js"></script>
    <script type="text/javascript" src="/modules/controllers/LoginController.js"></script>
    <script type="text/javascript" src="/modules/controllers/ToastController.js"></script>
    <script type="text/javascript" src="/modules/services/toastService.js"></script>
    <script type="text/javascript" src="/modules/directives/equalTo.js"></script>
    <script type="text/javascript" src="/modules/directives/regex.js"></script>
    <script type="text/javascript" src="/modules/interceptors/authInterceptor.js"></script>
    <script type="text/javascript" src="/modules/services/navigationService.js"></script>
    <script type="text/javascript" src="/modules/controllers/NavigationController.js"></script>
    <script type="text/javascript" src="/modules/controllers/ContactsController.js"></script>
    <script type="text/javascript" src="/modules/controllers/AgendasController.js"></script>
    <script type="text/javascript" src="/modules/controllers/AgendaController.js"></script>
    <script type="text/javascript" src="/modules/services/contactsService.js"></script>
    <script type="text/javascript" src="/modules/services/agendasService.js"></script>
  </head>
  <body ng-app="ContactAgenda" layout="column" ui-view></body>
</html>