
<md-button ng-click="showCreateDialog()" class="favButtonPlus md-fab md-accent"><i class="material-icons md-24">add</i></md-button>
<div id="searchWrapper" layout="row" class="md-whiteframe-z3"><i class="material-icons">search</i>
  <input id="searchInput" placeholder="Busca" flex="flex" ng-model="searchText"/>
  <md-button ng-if="searchText != ''" ng-click="deleteText()" class="md-icon-button floatRight"><i class="material-icons">close</i></md-button>
</div>
<md-list flex="flex" style="height: 45px;" ng-if="agendas.length != 0">
  <div ng-repeat="agenda in agendas | filter:filterAgendas | orderBy:agendaSort">
    <div layout="row" flex="flex" class="contactItem">
      <md-list-item ng-click="showAgenda(agenda._id)" flex="flex">
        <p>{{agenda.name}}</p>
      </md-list-item>
      <md-button class="md-icon-button"><i ng-click="showEditAgendaDialog(agenda._id)" class="material-icons edit md-secondary">edit</i></md-button>
      <md-button class="md-icon-button"><i ng-click="deleteAgenda(agenda._id)" class="material-icons delete md-secondary">delete</i></md-button>
    </div>
    <md-divider ng-if="!$last"></md-divider>
  </div>
</md-list>
<div layout="row" layout-align="center center" ng-if="agendas.length == 0" flex="flex"><span class="md-display-2">No tens agendes! Crea'n pitjant al botó '+'</span></div>