md-dialog
   md-toolbar
      div.md-toolbar-tools
         h2 Crea un nova agenda
         span(flex)
         md-button.md-icon-button(ng-click="cancel()")
            md-icon.material-icons close
   md-dialog-content
      form(name="form.createAgendaForm")
         div(layout="row", layout-align="center center")
            i.material-icons functions
            md-input-container
               label Nom
               input(ng-model='newAgenda.name', type='text', name="name")
               div(ng-messages="form.createAgendaForm.name.$error", ng-show="form.createAgendaForm.name.$dirty")
                  div(ng-message="required") Emplena el camp
                  div(ng-message="md-maxlength") Màxim 30 caràcters


      div.md-actions(layout="row", layout-align="center center")
         span(flex)
         md-button.md-primary(ng-click="answer(newAgenda)") Crea
